<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/mat.css">
</head>


    <body class="card-panel grey lighten-2">
  <header>
    <h1 >GABABARA</h1>
  </header>
  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper  purple lighten-2">
    <a href="#!" class="brand-logo"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
      <li><a href="/">Homepage</a></li>
      <li><a href="clothes">Clothes</a></li>
      <li><a href="/furniture">Furniture</a></li>
      <li><a href="/jewelry">Jewelry</a></li>
      <li><a href="/tech">Technology</a></li>
    </ul>
  </div>
</nav>
  <main>

 {{{body}}}
  </main>
  <script src="js/mat.js">

  </script>
</body>

</html>