{{!-- i just copy and pasted this code from week 14 ins 19 main.handlebars, still needs editing. -aaron --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gababara</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Gababara</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>placeholder</h2>
    </aside>
    <div class="placeholder">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="    "></script>
  {{/if}}
</body>

</html>