<<<<<<< HEAD
<h1>I am a checkout Page!</h1>
=======
<h1>I am a checkout page!</h1>
>>>>>>> 2dad7761e7fc0deffad87db28a4ff2eff3d2b850









<<<<<<< HEAD
<script src="js/checkout.js"></script>
=======
<script src="js/"></script>
>>>>>>> 2dad7761e7fc0deffad87db28a4ff2eff3d2b850
