<section class="container">
  <div class="row">
    {{#each clothes as |item|}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image_url}}">
        </div>
        <div class="card-content">
<<<<<<< HEAD
          <span class="card-title purple-text text-lighten-2">{{item.clothes_name}}</span>
=======
        <span class="card-title purple-text text-lighten-2">{{item.clothes_name}}</span>
>>>>>>> 2dad7761e7fc0deffad87db28a4ff2eff3d2b850
          <p>${{item.clothes_price}}
          </p>
        </div>
        <div class="card-action">
<<<<<<< HEAD
          <button>
=======
            <button>
>>>>>>> 2dad7761e7fc0deffad87db28a4ff2eff3d2b850
            <a href="#">Add to cart</a>
          </button>
        </div>
      </div>
    </div>
    {{/each}}

    <div class="col s12">
      <h2>Cart</h2>
      <div id="cart-container"></div>
    </div>

    <div class="col s12">
      <button id="checkout-btn" class="btn">Checkout</button>
    </div>
  </div>
</section>

<script src="script.js"></script>

<<<<<<< HEAD
<!--    in theroy this will have index and script -->
=======
<!--    in theory this will have index and script -->
>>>>>>> 2dad7761e7fc0deffad87db28a4ff2eff3d2b850
