<head>
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<h1>Home Page!</h1>

{{#each galleries as |gallery|}}
<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  </a>
</section>
{{/each}}