<section class="container">


  {{#each clothes as |item|}}
  <h3 class="gallery-name">{{item.clothesName}}</h3>
  <h4>Price: ${{item.clothesPrice}}</h4>

  <section class="flex-row justify-center">
    {{!-- {{#each product.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}
    {{/each}}
  </section>

  <!--products/gallary and add script.js at the bottom-->

  <!--    in theroy this will have index and script -->
</section>