<section class="container">
<div class="row">
    {{#each clothes as |item|}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image_url}}">
          <span class="card-title">{{item.clothes_name}}</span>
        </div>
        <div class="card-content">
          <p>${{item.clothes_price}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
      {{/each}}

      <div class="col s12">
        <h2>Cart</h2>
        <div id="cart-container"></div>
      </div>

      <div class="col s12">
        <button id="checkout-btn" class="btn">Checkout</button>
      </div>
    </div>
  </section>

  <script src="script.js"></script>

  <!--    in theroy this will have index and script -->
</section>

>>>>>>> c76bb17b546ed8585225c723d22f3c8fac8a5d4a
