<section class="container">
<div class="row">
    {{#each tech as |item|}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image_url}}">
          <span class="card-title">{{item.tech_name}}</span>
        </div>
        <div class="card-content">
          <p>${{item.tech_price}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  </section>
  
  <p>hello</p>