<section class="container2">
<div class="row">
    {{#each tech as |item|}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image}}">
          <span class="card-title">{{item.techName}}</span>
        </div>
        <div class="card-content">
          <p>${{item.techPrice}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  </section>